.root {
    padding: 8px;
    border-radius: 16px;
    margin: 16px auto;
    max-width: 100%;
    background-color: rgb(49, 48, 48); /* Alterado para transparente */
  }
  
  .item {
    margin-bottom: 16px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    
  }
  .customPaperr {
    background-color: rgba(0, 0, 0, 0.9);/* Alterado para transparente */
  }

  
  .imageContainer {
    display: flex;
    justify-content: center;
    background-color: rgba(127, 127, 127, 0.9);
  }
  
  .image {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 200px; /* Altura máxima desejada para a imagem */
    border-radius: 0 100px 0 100px;
    
  }
  
  .icon {
    font-size: 1.3rem; /* Tamanho do ícone */
    margin-right: 8px; /* Espaçamento à direita do ícone */
  }
  
  .text {
    font-size: 1rem; /* Tamanho do texto */
    margin-right: 16px;
    font-weight: bold; /* Negrito no texto */
    text-transform: uppercase; /* Transformação de texto em caixa alta */
    font-family: Arial, sans-serif; /* Fonte do texto */
    color: rgb(0, 140, 165);
  }
  
